* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Boiler Plate done */
body {
  background:linear-gradient(to right,rgb(255, 255, 255,0),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/Media/Bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}