@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Boiler Plate done */
body {
  padding-top: 1em;
}
.navbar img {
  width: 9em;
  margin-left: 1em;
  border-radius: 0.2em;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.navbar ul {
  display: flex;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
  padding: 1em;
}
.navbar ul li a {
  color: rgb(225, 225, 225);
  padding: 0.5rem 1rem;
  margin: 1em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.1em;
  position: relative;
  transition: 0.5s ease;
}
.navbar ul li a:hover {
  color: rgb(194, 106, 115);
}
.navbar .currentPage a{
  color: rgb(194, 106, 115);
}
.navbar ul li a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0px;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(194, 106, 115),
    rgb(190, 70, 108),
    rgb(181, 17, 74)
  );
  transition: 0.5s ease;
}
.navbar ul li a:hover::after {
  width: 100%;
}
.navbar .currentPage a::after{
  width: 100%;
}

.toggle-button {
  position: absolute;
  top: 1.5em;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}




/* ************************************************************ */

@media (max-width: 910px) {
  .toggle-button {
    display: flex;
  }
  .navbar ul {
    display: none;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar ul li a {
    display: block;
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 1px solid red;
    border-color: rgba(255, 255, 255, 0.176);
    background-color: rgba(81, 80, 80, 0.668);
    text-align: center;
    padding: 0.75em;
  }
  .navlinkContainer.active {
    display: flex;
  }
}
